.cards {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 30vh;
  width: 100vw;
  /* overflow: hidden; */
}

#draftCards1 {
  background: cadetblue;
}
#draftCards2 {
  background: lemonchiffon;
}

.fighters {
  width: 15vw;
  height: 30vh;
  z-index: 2;
  background: white;
  overflow: hidden;
}

.cardImg {
  width: 14vw;
}
