.cards {
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 1;
  height: 40vh;
  width: 100vw;
  /* overflow: hidden; */
}

#draftCards1 {
  background: cadetblue;
}

#draftCards2 {
  background: lemonchiffon;
}

.fighters {
  /* width: 15vw; */
  /* height: 35vh;
  z-index: 2; */
  /* background: white;
  overflow: hidden; */
}

.cardImg {
  height: 40vh;
}
