.draftCards {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 50vh;
  width: 100vw;
}

#draftCards1 {
  background: cadetblue;
}
#draftCards2 {
  background: lemonchiffon;
}

.draftCard {
  width: 20vw;
  height: 32vh;
  z-index: 2;
}

.draftImg {
  width: 17vw;
  height: 28vh;
}
