#habitats {
  display: flex;
  justify-content: space-between;
  height: 55vh;
}

/* .habitatCard {
  width: 23vw;
  height: 30vh;
} */

.habitatImg {
  width: 22vw;
}

.fighterInHabitat {
  display: flex;
  height: 15vh;
  margin: 5px;
}

.fighterInHabitatImg {
  height: 15vh;
}
